<!--The content below is only a placeholder and can be replaced.-->

<h2 class="alert-heading">Hello and welcome</h2>
<div type="content" class="card-header-pills">This is a simple webpage to register your self with Face-Id <br> and then
	login</div>
	<!--  -->

<div class="form-popup" id="myForm" *ngIf="isRegisterSelected">
	<form action="/action_page.php" class="form-container">
		<app-camera (pictureTaken)="handleImage($event)" *ngIf="!isImageListMax" ></app-camera>
		<!-- *ngIf="!wasPictureTaken|| true    -->
		<div class="snapshot" *ngIf="webcamImage && wasPictureTaken">
			<img style="border:5px solid rgb(220, 241, 184)"  [src]="currentImage.imageAsDataUrl" *ngIf="isImageListMax"/>
			<ul id="horizontal-list">
				<li *ngFor="let pic of webcamImagesList"><img (click)="clickImg(pic)" style="border:5px solid rgb(220, 241, 184)" width='100px' height='100px' [src]="pic.imageAsDataUrl" /></li>
			</ul>
		</div>
		<button type="button" class="btn btn-primary" (click)="onClickRetake();" title="Retake" *ngIf="wasPictureTaken">🔁Retake</button>
		<label for="email"><b>Email</b></label>
		<input type="text" placeholder="Enter Email" name="email" required>

		<label for="psw"><b>Password</b></label>
		<input type="password" placeholder="Enter Password" name="psw" required>

		<button type="button" class="btn btn-primary" (click)="onClickSubmit()">Submit</button>
		<button type="button" class="btn btn-primary" (click)="closeForm()">Close</button>
	</form>
</div>


<div>
	<button type="button" class="btn btn-warning" [disabled]='isRegisterSelected' (click)='registerClicked()'>
		Register
	</button>
	<button type="button" class="btn btn-warning" [disabled]='isRegisterSelected'>
		Login
	</button>
</div>